%global git_commit {{ git_commit }}

Name:           fapolicy-analyzer
Version:        {{ rpm_version }}
Release:        {{ rpm_release }}%{?dist}
Summary:        GUI configuration for fapolicyd
License:        GPLv3+
URL:            https://github.com/ctc-oss/fapolicy-analyzer

Source0: %{url}/archive/%{git_commit}/%{name}-%{git_commit}.tar.gz

BuildArch:      x86_64
Requires:       {{ pyrpm }} >= 3.9
BuildRequires:  {{ pyrpm }} >= 3.9, {{ pyrpm }}-rpm-macros, {{ pyrpm }}-devel, {{ pyrpm }}-pip, {{ pyrpm }}-wheel
Recommends:     {{ pyrpm }}-gobject, {{ pyrpm }}-events, {{ pyrpm }}-configargparse, {{ pyrpm }}-more-itertools
Requires:       gtk3, dbus-libs
BuildRequires:  dbus-devel, cargo
AutoReqProv:    no

# For tools not packaged in el8, just use pip always.
%prep
%autosetup -n %{name}-%(echo %{git_commit} | sed -e 's/^v//')
%{python3} -m pip install --no-input Babel setuptools-rust

%description
GUI and CLI tools to assist with the configuration and maintenance of fapolicyd

%global debug_package %{nil}

%build
VERSION=%{version} %{python3} setup.py compile_catalog -f
VERSION=%{version} %{python3} setup.py bdist_wheel

%install
%{python3} -m pip install --no-deps --no-input -v --target %{buildroot}%{python3_sitelib} dist/*.whl
%{python3} -m pip install --no-deps --no-input -v --target %{buildroot}%{python3_sitelib} vendor/ReduxPY
install bin/fapolicy-analyzer %{buildroot}%{_sbindir}/fapolicy-analyzer -D

%files
%{python3_sitelib}/fapolicy_analyzer*
%{python3_sitelib}/redux*
%{_sbindir}/fapolicy-analyzer

%defattr(-,root,root)

%changelog
* Wed Jul 28 2021 CTC OSS <oss@ctc.com> 0.0-0
- GitHub Release RPM
