%global git_commit {{ git_commit }}

Name:           fapolicy-analyzer
Version:        {{ rpm_version }}
Release:        {{ rpm_release }}%{?dist}
Summary:        GUI configuration for fapolicyd
License:        GPLv3+
URL:            https://github.com/ctc-oss/fapolicy-analyzer

Source0: %{url}/archive/%{git_commit}/%{name}-%{git_commit}.tar.gz

BuildArch:      x86_64
BuildRequires:  python3 >= 3.9, python3-devel, python3-pip, python-wheel, dbus-devel, rust-packaging
{% if (fedora_ver | int) >= 34 %}BuildRequires:  python-setuptools-rust{% endif %}
Requires:       python3 >= 3.9, gtk3, python3-gobject, python3-events, python3-configargparse
Requires:       dbus-libs
AutoReqProv:    no

%prep
%autosetup -n %{name}-%(echo %{git_commit} | sed -e 's/^v//')
{% if (fedora_ver | int) < 34 %}%{python3} -m pip install setuptools-rust{% endif %}

%description
GUI and CLI tools to assist with the configuration and maintenance of fapolicyd

%global debug_package %{nil}

%build
cd python
VERSION=%{version} %{python3} setup.py compile_catalog -f
VERSION=%{version} %{python3} setup.py bdist_wheel

%install
cd python
%{python3} -m pip install -v --target %{buildroot}%{python3_sitelib} dist/*.whl
install bin/fapolicy-analyzer %{buildroot}%{_sbindir}/fapolicy-analyzer -D

%files
%{python3_sitelib}/fapolicy_analyzer*
%{_sbindir}/fapolicy-analyzer

%defattr(-,root,root)

%changelog
* Wed Jul 28 2021 CTC OSS <oss@ctc.com> 0.0-0
- GitHub Release RPM
