*~
.coverage
.env
.venv
.idea
.local
.testmondata
.vscode/
.pytest_cache/
*.egg-info
*.glade~
*.iml
*.mo
*.pyc
*.so
**/.eggs
**/.shared
**/.vagrant
\#*.glade\#
build
dist
src/bin
target
venvs

*.tar.gz
/vendor*/

uv.lock

fapolicy_analyzer/resources/build-info.json
VERSION
FEATURES
