*~
.coverage
.env
.idea
.local
.testmondata
.vscode/
.pytest_cache/
*.egg-info
*.glade~
*.iml
*.mo
*.pyc
*.so
**/.eggs
**/.shared
**/.vagrant
\#*.glade\#
build
dist
src/bin
target
venvs


*.tar.gz
/vendor*/
