[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[dev-packages]
semantic-version = "2.8.5"
setuptools-rust = "0.12.1"
ruff = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-testmon = "*"
pytest-watch = "*"
babel = "*"
babelgladeextractor = "*"
callee = "*"
pytest-lazy-fixture = "*"
markdown2 = "*"
beautifulsoup4 = "*"
wheel = "*"

[packages]
pycairo = "~=1.25"
PyGObject = "~=3.48"
events = "0.4"
configargparse = "~=1.7"
rx = "~=3.2"
more-itertools = "~=8.12"
importlib-resources = "~=6.4"
importlib-metadata = "~=4.12"
toml = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "pipenv run xvfb-run -a pytest -s --cov=fapolicy_analyzer fapolicy_analyzer/tests/"
lint = "pipenv run ruff check fapolicy_analyzer"
format = "pipenv run ruff format fapolicy_analyzer"
watch-test = "pipenv run xvfb-run -a pytest-watch fapolicy_analyzer/ -- --testmon -s"
extract_messages = "pipenv run python setup.py extract_messages"
compile_catalog = "pipenv run python setup.py compile_catalog -f"
