[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
semantic-version = "2.8.5"
setuptools-rust = "0.12.1"
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-testmon = "*"
pytest-watch = "*"
babel = "*"
babelgladeextractor = "*"
flake8-i18n = "*"
callee = "*"
pytest-lazy-fixture = "*"
flake8-quotes = "*"
autoflake = "*"

[packages]
pycairo = "1.20.0"
PyGObject = "3.38.0"
events = "0.4"
argparse = "1.4.0"
rx = "~=3.2"
more-itertools = "~=7.2"
importlib-resources = "~=1.0.2"
importlib-metadata = "~=0.23"
dataclasses = "==0.6"

[pipenv]
allow_prereleases = true

[scripts]
test = "pipenv run xvfb-run -a pytest -s --cov=fapolicy_analyzer fapolicy_analyzer/tests/"
lint = "pipenv run flake8 fapolicy_analyzer/"
format = "pipenv run black fapolicy_analyzer/"
watch-test = "pipenv run xvfb-run -a pytest-watch fapolicy_analyzer/ -- --testmon -s"
extract_messages = "pipenv run python setup.py extract_messages"
compile_catalog = "pipenv run python setup.py compile_catalog -f"
