[Desktop Entry]
Name=File Access Policy Analyzer
GenericName=?
Comment=Configuration and management of fapolicyd
Keywords=fapolicyd;security;
Exec=fapolicy-analyzer
Terminal=false
Type=Application
Icon=org.xfce.settings.default-applications
StartupNotify=true
Categories=GTK;Security;
