[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
semantic-version = "2.8.5"
setuptools-rust = "0.11.6"

[packages]
pycairo = "1.20.0"
PyGObject = "3.38.0"
toml = "0.10.2"
