[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[dev-packages]
semantic-version = "2.8.5"
setuptools-rust = "0.11.6"
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
pycairo = "1.20.0"
PyGObject = "3.38.0"
toml = "0.10.2"
events = "0.4"

[pipenv]
allow_prereleases = true

[scripts]
test = "pipenv run xvfb-run -a pytest -s --cov-report term-missing --cov=ui fapolicy_analyzer/"
